@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --primaryFontColor: #28283D;
  --secondaryFontColor: #87879D;
  --purpleButtonColor: #855FB1;
  --blueButtonColor: #4D96A9;
  --Font: Red Hat Display;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--Font);
}

.logo{
  margin-bottom:60px;
}

.headerBg{
  width: 100dvw;
}

main{
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: var(--primaryFontColor);
  text-align: center;
  font-size: 50px;
}

.h1-p{
  text-align: center;
  color: var(--secondaryFontColor);
  margin: 40px 0 40px;
}

.DownloadBtn{
  background-color: var(--blueButtonColor);
  border: none;
  width: 193px;
  height: 58px;
  border-radius: 999px;
  color: white;
  margin: 0px 20px;
}

.DownloadBtn span{
  color: #8FE3F9;
}

.what-is-itBtn{
  background-color: var(--purpleButtonColor);
  border: none;
  width: 139px;
  height: 58px;
  border-radius: 999px;
  color: white;
  margin: 10px 0 130px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.section-img{
  width: 151px;
  height: 143px;
  border-radius: 10px;
}

.imgSection{
  display: grid;
  grid-template-columns: 160px 160px;
  gap: 20px;
  width: 100dvw;
  justify-content: center;
}

.Built-for-modern-use-Section{
  margin: 40px 0 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.built-P{
  color: var(--blueButtonColor);
  font-weight: bold;
}

.built-h2{
  margin: 10px 0 20px;
  font-weight: bold;
  font-size: xx-large;
  width: 80dvw;
  color: var(--primaryFontColor);
}

.built-P2{
  color: var(--secondaryFontColor);
  width: 83.6dvw;
}

.footer-section{
  padding: 0 1rem 0 1rem;
  background-color: var(--blueButtonColor);
  width: 100dvw;
  height: 428px;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-h2{
  color: #FAFAFA;
  font-size: xx-large;
  width: 70dvw;
}

.footer-p{
  color: #FAFAFA;
  margin: 20px 0 20px;
  width: 70dvw;
}

.footer-downloadBtn{
  background-color: var(--purpleButtonColor);
  border: none;
  padding: 20px 30px;
  border-radius: 999px;
  color: white;
  margin: 10px 0 40px 0;
  display: flex;
  flex-direction: row;
}

.footer-btnSpan{
  color: #D9B8FF;
  margin-left: 10px;
}

.footer-02{
  color: var(--secondaryFontColor);
  background-color: #FAFAFA;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  position: absolute;
  z-index: 1;
  border: solid;
  border-width: 1px;
  font-weight: bold;
  top: 0;
  transform: translateY(-50%);
}

.main-01{
  color: var(--secondaryFontColor);
  background-color: #FAFAFA;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border: solid;
  border-width: 1px;
  font-weight: bold;
  margin: 20px auto;
}

.BtnDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section{
  position: relative;
  width: 100%;
  height: 50vh;
  background-image: url(/img/footerBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.section::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4D96A9 ;
  z-index: 1;
  opacity: 0.6;
}

.section .content{
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

  .section{
    padding: 40px 20px;
    background-position: top;
  }
  .section.content{
    font-size: 1.2rem;
  }

  .header-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .div1, .div2, .div3{
    width: 32%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
  }

  .div1, .div3{
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    gap: 2rem;
  }

  .translator{
    transform:translateY(-50px);
  }
  .translator-2{
    transform:translateY(50px);
  }

  .div2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    text-align: center;
    transform: translateY(100px);
    position: relative;
  }

  .mobile-responsive{
    width: 55px;
    height: 55px;
  }

  .mobile-header-img{
    width: 100dvw;
  }

  .div-col{
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 1439px){
    .header-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .div1, .div3{
      width: 48%;
    }
    .div2{
        order: 3;
        width: 100%;
    }
  }

  .logo-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
  }

@media screen and (min-width: 768px) {
  h1{
    width: 50dvw;
  }
  .h1-p{
    width: 50dvw;
  }
  .BtnDiv{
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    width: 45dvw;
  }
  .imgSection{
    display: flex;
  }
  .built-h2{
    width: 45dvw;
  }
  .built-P2{
    width: 75dvw;
  }
  .footer-section{
    width: 100dvw; 
  }
  .section{
    background-image: url(img/tablet.png);
  }
  .mobile-responsive{
    width: 110px;
    height: 110px;
  }
  .div1, .div3{
    display: none;
  }
  .mobile-header-img{
    width: 100dvw;
  }
}

@media screen and (min-width: 1440px) {
  h1{
    width: 33dvw;
  }
  .h1-p{
    width: 33dvw;
  }
  .BtnDiv{
    width: 25dvw;
  }
  .built-h2{
    width: 24dvw;
  }
  .built-P2{
    width: 31dvw;
  }
  .section .content{
    flex-direction: row;
    justify-content: space-evenly;
  }
  .section{
    background-image: url(img/desktop.png);
    height: 35vh;
  }
  .footer-p{
    width: 18%;
    text-align: left;
  }
  .footer-h2{
    width: 20%;
    text-align: left;
    font-size: 40px;
  }
  .mobile-header{
    display: none;
  }
  .div1, .div3{
    display: flex;
  }
  .DownloadBtn:hover{
    background-color: #71C0D4;
  }
  .what-is-itBtn:hover{
    background-color: #B18BDD;
  }
  .footer-downloadBtn:hover{
    background-color: #B18BDD;
  }
  .DownloadBtn, .what-is-itBtn, .footer-downloadBtn{
    cursor: url(img/Pointer.png), auto;
  }
}